.container{
    display: flex;
    flex-direction: row;
    width : 800px;
    height: 200px;
    border: 2px solid black;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    row-gap: 60px;
}
.item {
    background-color: blueviolet;
    padding: 20px;
    border: 1px solid black;
    font-size: 18px;
    width: 200px;
}