.container{
    display: flex;
    flex-direction: row ;
    width : 1200px;
    height: 600px;
    border: 2px solid black;
    flex-wrap: nowrap;
    justify-content:flex center;
    align-items: center;
    align content: space-between ;
    gap:20px 30px;
    
    
}
.item {
    background-color: blueviolet;
    padding: 20px;
    border: 1px solid black;
    font-size: 18px;
    width: 200px;
    height: 200px;
    flex-grow: 1;
}
.item4{
    order: -1;
    flex-grow: 2;
    align-self: flex-end;

}