.container{
display: grid;
height: 800px;
width: 800px;
background-color:yellow;
grid-template-columns:repeat(4,1fr);
justify-content:flex center;
align-items: center;
align content: space-between ;
margin: left 170px;
place-iteam:center;
justify-items:center;
border:dotted rgb(255,0,55);
border-width:10px;

}
.item {
text_align:center;
align-content:cnter;
height:100px;
width:80px;
background-color:crimson;
}

}
.i1{
    grid,columns: 1/2;
    grid-row: 1/3;

}
.i2{
    grid-row: 1/2;
    grid-column:2/3;
}
.i3{
    grid-row: 3/4;
    grid-row: 2/3;
}
.i4{
    grid-column: 4/5;
}
.i5{
    height:90px;
    width:80px;
    justify-self:end;
    align-self: end;
}    
