p{
    color: aqua;
    background-color: blue;
    padding: 20px
}
.rk{
    color: #d11b94;
}
body{
    background-color: rgb(218, 32, 156);
}
#abes{
    font-size: 30px;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
div{
    background-color: rgb(196, 172, 218);
    height: 200px;
    width: 400px;
    border: solid black 2px;
    padding: 50px;
}
