.main {
  border: solid black 2px;
  width: fit-content;
}
.box {
  height: 300px;
  width: 200px;
  margin: 10px;
  display: inline-block;
  text-align: center;
  padding: 50px;
}
.box1 {
  background-color: rgb(185, 198, 37);
  margin: 20px;
}
.box2 {
  background-color: maroon;
  margin: 20px;
}
.box3 {
  background-color: aquamarine;
  margin: 20px;
}
.float {
  height: 500px;
  border: solid black 2px;
  width: fit-content;
  background-color: peachpuff;
  padding: 20px;
}
.float img {
  float: left;
  width: 400px;
  height: 200px;
  margin: 20px;
}
.float .p1 {
  font-size: large;
  margin: 20px;
  float: right;
}
.float .p2 {
  clear: both;
  background-color: lightgrey;
  padding: 10px;
  margin-top: 40px;
}